:root {
  --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  --primary-fg: #272525;
  --primary-bg: #fffcfb;
  --primary-dc: #4367bf;
  --primary-sc: #1c5775;
  --bg: #282828;
}
body{
  background-color: var(--primary-bg);
}
